data:
  name: Ryan Persée
  email: 98691129+rpersee@users.noreply.github.com
  editor: vim

git:
  autoCommit: true
  autoPush: true

scriptEnv:
  CZ_HELPERS: {{ .chezmoi.sourceDir }}/.chezmoihelpers
